{% extends 'base.html' %}

{% block title %}
 | Password update
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="col-12 col-sm-3 col-lg-3"></div>
    <div class="col-12 col-sm-6 col-lg-6">
        <form method="POST" action="{% url 'password' %}">
            {% csrf_token %}
            <div class="mb-3">
                {{update.as_p}}
                <small id="textHelp" class="form-text text-muted">Change Your Password</small>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
    </div>
    <div class="col-12 col-sm-3 col-lg-3"></div>
</div>
{% endblock content %}