{% extends 'base.html' %}
{% block title %} | Product {% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3  w-25 ">
            <div class="card">
                <img src="{{product.image.url}}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Categories: {{product.category}}</h5>
                  <p class="card-text">Product : {{product.title}} </p>
                  <p class="card-text">Price : {{product.price}} </p>
                  <p class="card-text">description : {{product.description}} </p>
                </div>
                <form method="POST" action="{% url 'addtocart' %}" style="width: 500px;">
                  {% csrf_token %}
                  <div class="mb-3">
                      <input type="number" name="itemquant" value="1" min="{{product.min_quant}}" max="{{product.max_quant}}" style="width: 60px;">
                      <input type="hidden" name="itemid" value="{{product.id}}">
                  </div>
                  <button type="submit" class="btn btn-primary">Add to cart</button>
                </form>
              </div>
        </div>
    </div>
</div>
{% endblock content %}